<!DOCTYPE html>
<html>
<head>
	{{ partial "head.html" . }}
</head>
<body>

	{{ partial "header.html" . }}
    <div class="people">
	  <!-- Wrapper Start -->
	  <section id="intro" style="border: 1px dotted #ddd;">
	    <div class="container">
	      <div class="row">
	        <div>
                <img src="/img/people/{{ .Params.image }}" class="border border-success p-1 rounded-circle" />
	            <h1>{{ .Params.title }}</h1>
	            <p>{{ .Content }}</p>
	        </div><!-- .col-md-7 close -->
	      </div>
	    </div>
	  </section>
	</div>


    {{ if and (isset .Site.Params "call") (.Site.Params.call.enable) }}
        {{ partial "call-to-action.html" . }}
    {{ end }}

    {{ partial "footer.html" . }}

    {{ partial "tracking.html" . }}


</body>
</html>
