<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- robots -->
<!-- you may configure it in the front matter of the page or in site params -->
{{ if or (isset .Params "robots") (isset .Site.Params "robots") }}
<meta name="robots" content="{{ with .Params.robots }}{{ . }}{{ else }}{{ .Site.Params.robots }}{{ end }}">
{{ end }}
{{ if (isset .Params "meta") }}
{{ .Params.meta }}
{{ end }}
<meta property="og:url" content="{{ .Permalink }}" />
<meta property="og:type" content="website" />
<meta property="og:title" content="{{ if (isset .Params "title") }}{{ .Params.title }} | {{ end }}Nezávislí pro Plasko" />
<meta property="og:description" content='{{ if (isset .Params "description") }}{{ .Params.description }}{{ else }}Nezávislí pro Plasko - nestranická kandidátka v komunálních volbách 2018. Podpořme vzdělávání a zeleň, město otevřené svým občanům a řekněme stop dalšímu zadlužování.{{ end }}' />
<meta property="fb:app_id" content="1880975001946094" />
<meta property="og:image" content='{{ if (isset .Params "og_image") }}{{ .Params.og_image }}{{ else }}https://nezavisliproplasko.cz/img/sypka.jpg{{ end }}' />


<!-- Place favicon.ico and apple-touch-icon.png in the root directory
     or place appropriate <link .../> etc in favicon.html partial -->
{{ partial "favicon.html" . }}

<title>{{ .Title }} | Nezávislí pro Plasko</title>

{{ .Hugo.Generator }}

<!-- CSS -->
<link rel="stylesheet" href="{{ .Site.BaseURL }}css/owl.carousel.css" />
<link rel="stylesheet" href="{{ .Site.BaseURL }}css/bootstrap-4.1.min.css" />
<!-- <link rel="stylesheet" href="{{ .Site.BaseURL }}css/font-awesome.min.css" /> -->
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
<link rel="stylesheet" href="{{ .Site.BaseURL }}css/airspace-local-fonts.css" />
<link rel="stylesheet" href="{{ .Site.BaseURL }}css/airspace.css" />
<link rel="stylesheet" href="{{ .Site.BaseURL }}css/style.css" />
<link rel="stylesheet" href="{{ .Site.BaseURL }}css/ionicons.min.css" />
<link rel="stylesheet" href="{{ .Site.BaseURL }}css/animate.css" />
<link rel="stylesheet" href="{{ .Site.BaseURL }}css/responsive.css" />
<link rel="stylesheet" href="{{ .Site.BaseURL }}css/syntax.css" />

<!-- Js -->
<script src="{{ .Site.BaseURL }}js/jquery-3.3.1.slim.min.js"></script>
<script>window.jQuery || document.write('<script src="js/vendor/jquery-1.10.2.min.js"><\/script>')</script>
<script src="{{ .Site.BaseURL }}js/popper.min.js"></script>
<script src="{{ .Site.BaseURL }}js/bootstrap-4.1.min.js"></script>
<script src="{{ .Site.BaseURL }}js/owl.carousel.min.js"></script>
<script src="{{ .Site.BaseURL }}js/plugins.js"></script>
<script src="{{ .Site.BaseURL }}js/min/waypoints.min.js"></script>
<script src="{{ .Site.BaseURL }}js/jquery.counterup.js"></script>


<script src="{{ .Site.BaseURL }}js/main.js"></script>

<!--
/*
 * Airspace
 * Ported to Hugo by Giacomo Mariani
 * https://github.com/karju-dev/airspace-hugo
 * Based on the original Jakyll porting by Andrew Lee
 * https://github.com/luminousrubyist/airspace-jekyll
 * Designed and Developed by ThemeFisher
 * https://themefisher.com/
 *
 */
-->
