<!-- Header Start -->
<header>
    <div class="container">
        <nav class="navbar navbar-light navbar-expand-lg">
            <a class="navbar-brand" href="{{ .Site.BaseURL }}">
              <img src="{{ .Site.BaseURL }}img/logo_48x42.png" alt="{{ .Site.Title }} Logo">
            </a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    {{ range .Site.Menus.header }}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ .URL }}/">{{ .Name }}</a>
                    </li>
                    {{ end }}
                </ul>
            </div>
        </nav>
    </div>
</header><!-- header close -->
