<!-- Slider Start -->
<section id="slider">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-2">
        <div class="block">
          <h1 class="animated fadeInUp text-uppercase">{{ .Site.Params.slider.title | safeHTML }}</h1>
          <p class="animated fadeInUp subtitle">{{ .Site.Params.slider.subtitle | safeHTML }}</p>
          <p class="animated fadeInUp motto">{{ .Site.Params.slider.motto | safeHTML }}</p>
        </div>
      </div>
    </div>
  </div>
</section>
