<!-- Wrapper Start -->
<section id="intro">
  <div class="container">
    <div class="row">
      <div class="col-md-7 col-sm-12">

          <div class="section-title">
            <p>
                Jsme malé město a to se nám líbí. Žijeme tu s dětmi, blízko rodičů, často i prarodičů. Žijeme tu mezi přáteli a známými.
            </p>
          </div>
          <iframe width="560" height="315" src="https://www.youtube.com/embed/_T280NrpnJM" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
            <!-- <p>
                Jsme tu v tom spolu. V nouzi táhneme za jeden provaz. Právě to dělá z Plas <strong>mnohem lepší místo pro život než jsou větší a bohatší města</strong>.
            </p>
            <p>
                Cítíme ale, že radnice s lidmi málo mluví. Málo ví, co lidi pálí. Že si taky často sama rozhodne a <strong>lidi postaví až před hotovou věc</strong>: takhle to prostě bude. Není divu, že pak vznikají problémy a hádky. Jeden je naštvaný na druhého.
            </p>
            <p>
                Myslíme si, že tudy cesta k pohodovému životu nevede. Je potřeba to dělat jinak. <strong>Je potřeba se na společných věcech domluvit</strong>. Abychom tu i v budoucnu žili mezi přáteli a známými.
            </p> -->
      </div><!-- .col-md-7 close -->
      <div class="col-md-5 col-sm-12 d-none d-md-block">
          <div class="row">
              {{ range .Site.Data.nas_tym.team6 }}
                <div class="col-md-4">
                    <div class="card" style="border:0">
                        <img src="/img/people/{{ .image }}" class="border border-success rounded-circle card-img-top">
                        <h6 class="card-title">{{ .name }}</h6>
                    </div>
                </div>
              {{ end }}
          </div>

          	<a href="/nas-tym" class="btn btn-lg btn-success">Náš kompletní tým</a>
        <!-- <div class="block">
          <img src="img/aktuality/fotka1.jpg" alt="Img">
        </div> -->
      </div><!-- .col-md-5 close -->
    </div>
  </div>
</section>
