<!DOCTYPE html>
<html>
<head>
	{{ partial "head.html" . }}
</head>
<body>

	{{ partial "header.html" . }}

    <main>

        <!-- Service Start -->
        <section id="service">
          <div class="container">

            <!-- Intro -->
                <h1>{{ .Site.Data.program.title }}</h1>
                
                <div class="text-left">
                {{ .Content }}
                </div>

            <!-- Content -->
            <div class="row">
              {{ range .Site.Data.program.content }}
              <div class="col-sm-6 col-md-3">
                <div class="service-item service-item-x">
                    <a href="{{ .url }}">
                      <i class="{{ .icon }}"></i>
                      <h4>{{ .name }}</h4>
                      <p>{{ .text | markdownify }}
                          <br /> <small>Přečtěte si více ...</small>
                      </p>
                    </a>
                </div>
              </div>
              {{ end }}
            </div>
          </div>
        </section>

    </main>

{{ partial "footer.html" . }}

{{ partial "tracking.html" . }}
</body>
</html>
