<!DOCTYPE html>
<html>
<head>

	{{ partial "head.html" . }}

</head>
<body>

	{{ partial "header.html" . }}

	{{ if and (isset .Site.Params "slider") (.Site.Params.slider.enable) }}
		{{ partial "slider.html" . }}
	{{ end }}

	{{ partial "wrapper.html" . }}


	{{ if and (isset .Site.Params "feature") (.Site.Params.feature.enable) }}
		{{ partial "feature.html" . }}
	{{ end }}


	{{ if and .Site.Data.service .Site.Data.service.enable }}
		{{ partial "service.html" . }}
	{{ end }}

	{{ if and (isset .Site.Params "call") (.Site.Params.call.enable) }}
		{{ partial "call-to-action.html" . }}
	{{ end }}

	{{ if .Site.Data.testimonial.enable }}
		{{ partial "testimonial.html" . }}
	{{ end }}

	{{ partial "footer.html" . }}

    {{ partial "tracking.html" . }}

</body>
</html>
